.displayNone {
    display: none;
}

.customPaddingAlbumColumnTwo {
    margin-top: 59px;
}

@media only screen and (max-width: 991px) {
    .customPaddingAlbumColumnTwo {
        margin-top: -92px;
    }
}

.googleFontFiraMona {
    font-family: 'Fira Mono', monospace;
}

.customPaddingRight {
    padding-right: 45px;
}

@media only screen and (min-width: 700px) {
    .customPaddingLeftFullScreen {
        padding-left: 130px;
    }
}